<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="dj4e" content="bf4334a2421c544eaa17629e52029ca1">
  <meta name="dj4e-code" content="42160578601962">
  <title>{% block title %}ChuckList{% endblock %}</title>
  <style>body { font-family: sans-serif; }</style>
  <link rel="icon" href="/static/favicon.ico"></link>
  {% block css %}{% endblock %}
  {% block js %}{% endblock %}
</head>
<body>
{% block navbar %}{% endblock %}
{% block content %}{% endblock %}
</body>
</html>
