{% extends 'ads/base_navbar.html' %}

{% load materializecss %}
{% block content %}
{{ block.super }}

<div class="container">
  <h1>Login to proceed</h1>
  <p>Please, enter your username and password to login into your account</p>
  <form method="post">
    {% csrf_token %}
    <div class="row">{{ form|materializecss:"s12 m6" }}</div>
    {% for e in form.errors %}{{ e }}{% endfor %}
    <input type="hidden" name="next" value="{{ next }}">
    <button class="btn waves-effect waves-light" type="submit">Login</button>
  </form>
</div>
{% endblock content %}
