{# opening ul is in importing template #}
  <li {% if request.get_full_path == ads %}class="active"{% endif %}>
    <a href="{{ ads }}">Ads</a>
  </li>

  {% if user.is_authenticated %}
  <li><a href="{% url 'ads:create' %}">Create Ad</a></li>
  <li><a href="#!" class="dropdown-trigger" data-target="{{ dropdown }}">
    Account<i class="material-icons right">arrow_drop_down</i>
    </a></li>
  {% else %}
  <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
  {% endif %}
</ul>
<ul id="{{ dropdown }}" class="dropdown-content">
  <li><a href="{% url 'logout' %}?next={{ request.path }}">Log out</a></li>
{# Oops, closing ul #}

