{% extends 'ads/base_bootstrap.html' %}

{% load humanize %}
{% block title %}{{ ad }} detail {% endblock %}

{% block css %}
{{ block.super }}
<style>
.overlay{
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
  text-align: center;
}

.overlay img {
  width: 90%;
  margin-top: 50px;
}
</style>
{% endblock css %}

{% block content %}
{% if ad.content_type %}
<div id="overlay" class="overlay"
   onclick="document.getElementById('overlay').style.display = 'none';" >
   <img src="{% url 'ads:ad_picture' ad.id %}">
</div>
{% endif %}

<h1>{{ ad.title }}</h1>
{% if ad.content_type %}
  <p style="float:right;cursor:pointer"><img src="{% url 'ads:ad_picture' ad.id %}"
    onclick="document.getElementById('overlay').style.display = 'block'"></p>
{% endif %}
<p>{{ ad.text }}</p>
<p>Price: ${{ ad.price }}</p>
<p>
  <a href="{% url 'ads:update' ad.id %}">Edit</a>
  <a href="{% url 'ads:delete' ad.id %}">Delete</a>
</p>

<h2>Comments</h2>
{% if request.user.is_authenticated %}
  <form method="post" action="./comment">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <p>
      <input type="submit" value="Submit">
      <input type="button" value="All ads"
        onclick="window.location='{% url 'ads:index' %}';return false">
    </p>
  </form>
{% endif %}

{% for comment in comments %}
  <p>{{ comment.text }} ({{ comment.created_at|naturaltime }})</p>
{% endfor %}

{% endblock content %}

