{% extends 'ads/base_navbar.html' %}

{% load humanize %}
{% load materializecss %}
{% block title %}{{ ad }} detail {% endblock %}

{% block css %}
{{ block.super }}
<style>
.align-down {
  display: flex;
  align-items: bottom;
}
.fill-width {
  width: 100%;
  height: auto;
}
</style>
{% endblock css %}
{% block js %}
{{ block.super }}
<script>
$(document).ready(function() {
  $('.materialboxed').materialbox()
})
</script>
{% endblock js %}

{% block content %}
{{ block.super }}
<div class="container">
  <h1 class="">{{ ad.title }}</h1>
  <div class="row">
    {% if ad.content_type %}
    <!-- please explain me how does this work -->
    <div class="col m4 push-m8 hide-on-small-only">
      <div class="right">
        <img class="materialboxed responsive-img" src="{% url 'ads:ad_picture' ad.id %}">
      </div>
    </div>
    <div class="col s12 hide-on-med-and-up">
      <img class="fill-width" src="{% url 'ads:ad_picture' ad.id %}">
    </div>
    {% endif %}

    <div class="col s12{% if ad.content_type %} m8 pull-m4{% endif %}">
      {{ ad.text|linebreaks }}
      <p>Price: ${{ ad.price }}</p>
      <a class="btn-flat waves-effect" href="{% url 'ads:update' ad.id %}">
        <i class="material-icons">edit</i></a>
      <a class="btn-flat waves-effect" href="{% url 'ads:delete' ad.id %}">
        <i class="material-icons">delete</i></a>
    </div>
  </div>
  <form action="comment" method="post">
    {% csrf_token %}
    {{ comment_form|materializecss }}
    <button type="submit" class="btn waves-effect waves-light">Submit</button>
    <a class="btn-flat waves-effect" href="{% url 'ads:index' %}">Back to ads</a>
  </form>
  {% for comment in comments %}
  <p class="align-down">
    <span>{{ comment.text }} ({{ comment.created_at|naturaltime }})</span>
      {% if comment.owner == request.user %}
      <a href="{% url 'ads:comment_delete' comment.id %}"><i class="material-icons">delete</i></a>
      {% endif %}
  </p>
  {% endfor %}
  </div>
</div>

{% endblock content %}

