{% extends 'ads/base_navbar.html' %}

{% load materializecss %}
{% block title %}Add/Update Ad{% endblock %}

{% block content %}
{{ block.super }}
<div class="container">
  <form method="post" enctype="multipart/form-data" id="upload_form">
    {% csrf_token %}
    <div class="row">{{ form|materializecss:"s12 l6" }}</div>
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn waves-effect waves-light">Submit</button>
    <a href="{% url 'ads:index' %}" class="btn-flat waves-effect">Back</button>
  </form>
</div>
{% endblock content %}

{% block js %}
<script>
  const select = document.querySelector.bind(document)

  select("#upload_form").onsubmit = function() {
    console.log('Checking file size')
    if (window.File && window.FileReader && window.FileList && window.Blob) {
      var file = select('#id_{{ form.upload_field_name }}').files[0]

      if (file && file.size > {{ form.upload_limit }} ) {
        alert(`File ${file.name} of type ${file.type} must be < {{ form.upload_limit_text }}`)
        return false
      }
    }
  };
</script>
{% endblock %}

